.mat-dialog-actions {
    display: flex;
    width: 100%;
    justify-content: center;
}

.full-width {
    width: 100% !important;
}

.close-button {
    float: right;
    margin-bottom: 20px;
}

.action-button {
    margin-left: 20px !important;
}

.action-button-action {
    margin-left: 20px !important;
}

.mat-card-actions {
    display: flex;
    width: 100%;
    justify-content: center;
}

.title {
    font-weight: bold;
    color: rgb(138, 138, 158);
}