<!-- <div mat-dialog-content>
  {{message}}
 </div>
 <div mat-dialog-actions>
   <button mat-button (click)="onNoClick()">No</button>
   <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
 </div> -->


<div mat-dialog-content>
    <p>Do you want to Delete this item</p>

</div>

<div mat-dialog-actions style="justify-content: center;">
    <button mat-mini-fab [mat-dialog-close]="true" (click)="deleted()" color="primary">Yes</button>&nbsp; &nbsp;
    <button mat-mini-fab mat-dialog-close color="warn">No</button>

    <!-- <button mat-button  [mat-dialog-close]>No </button>&nbsp; &nbsp;
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial >yes</button> -->
</div>